body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

img {
	display: block;
	margin:auto;
	/* Responsive image resizing */
	max-width: 100%;
}

.sectionTitle {
	padding-bottom: 10px;
}

div.sectionTitle h2, 
div.sectionTitle h4 {
	display: inline;
	padding-right: 10px;
}

.contactInfo {
	list-style: none;
}

@media screen {
	.contactInfo > li > a {
		text-decoration: none;
	}
}

.inlineIcon {
  display: inline;
  vertical-align: text-bottom;
  padding-right: 5px;
}

/* 
 * Rolling Links
 * Adapted from demo by Hakim El Hattab (hakim.se) 
 */
.roll {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 2px;

    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
}
    .roll:hover span {
        background: #111;

        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: hsl(206, 80%, 30%);

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}