body {
	background: #000000;
	overflow: hidden;
}

.screen {
	font-family: Carrois Gothic SC;
	display: none;
	text-align: center;
	color: white;
	width: 700px;
	height: 500px;
	margin: auto;
}

a:link {
	color: #ffffff;
}

a:hover {
	color: #aaaaaa;
}

.visible {
	display: block;
}

#yCont,
#nCont {
	padding-left: 20px;
	padding-right: 20px;	
}

#yCont:hover {
	color: green;
	font-weight: bold;
}

#nCont:hover {
	color: red;
	font-weight: bold;
}

#libs {
	text-align: left;
	list-style-type: square;
}